{% extends "index.html" %}
{% block content %}
<div class="wrapper">
    <div class="form"> 
      {% if message%}
      <label>{{message}}</label>
      {%endif%}
      {% for form in object_list %}
      <div class="inputfield">
        <label>Title of the form : {{form.title}}</label>
    </div>
      <div class="inputfield">
       <label><a href="Response/{{form.Formid}}" target="_blank" class="button1">Form</a></label>
       <label><a href="edit/{{form.Formid}}" class="button1">Edit</a></label>
       <label><a href="Download/{{form.Formid}}" target="_blank" class="button1">Download</a></label>
      </div>
        {%endfor%}
    </div>
</div>

{% endblock %}